# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
# db.sqlite3 and media/staticfiles are NOT ignored
db.sqlite3-journal

# Environment variables
# .env is NOT ignored

# Virtual environments
# venv/ and env/ are NOT ignored

# OS files
.DS_Store
Thumbs.db
