# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3-journal
*.sqlite3
# Ignore local SQLite DB for frontend if you want, but usually kept for sessions if small.
# WeaveForward_Frontend/db.sqlite3


# Virtual environments
venv/
env/
ENV/
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs and Scratch
*.log
WeaveForward_Backend/scratch/
WeaveForward_Backend/media/
*err.txt
*out.txt
diagnostic*.txt

# Environment variables
.env
**/.env
